/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
}

/* MAIN CSS */
.product {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  max-width: 37.5rem;
  margin: 10rem auto;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.product__img-mobile {
  width: 100%;
}

.product__img-desktop {
  display: none;
}

.container {
  padding: 2rem;
}

.perfume {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

.product__header {
  font-size: 3.2rem;
  font-family: "Fraunces", serif;
  margin-bottom: 1.5rem;
}

.product__text {
  font-size: 1.6rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.5rem;
}

.product__price {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.product__price-current {
  font-size: 3rem;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
}

.product__price-past {
  font-size: 1.2rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.product__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: hsl(158, 36%, 37%);
  border-radius: 0.5rem;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .product {
    max-width: 60rem;
    flex-direction: row;
  }

  .container {
    padding: 3rem;
  }

  .product__img-mobile {
    display: none;
  }

  .product__img-desktop {
    display: inline-block;
    width: 50%;
  }

  .perfume {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .product__header {
    margin-bottom: 2rem;
    font-size: 3.6rem;
  }

  .product__text {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  .product__price {
    margin-bottom: 2rem;
  }
}
